# Templating
Jinja2
# Markdown files
Markdown
MarkupSafe
# ReST files
docutils
pygments
# yaml config
PyYAML
# Default python
argparse==1.2.1
wsgiref==0.1.2
# CLI interface
click
# Downloading content from the web
requests
# Toolkit for interacting with files, formatting and more
utilkit>=0.3
