# Templating
Jinja2
# Markdown files
Markdown
MarkupSafe
# ReST (reStructuredText) files
docutils
# Syntax highlighting
pygments
# yaml config
PyYAML
# CLI interface
click
# Downloading content from the web
requests
# Toolkit for interacting with files, formatting and more
utilkit>=0.3
