<html>
<head>
    <title>{% block title %}{{ page.title }}{% endblock %} - {{ site.title }}</title>
    <meta name="author" content="{{ author }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="copyright" content="{{ site.copyright }}" />
</head>
<body>
{% block navbar %}
{% set active_page = active_page|default('index') -%}
<nav>
    <ul id="navigation">
    {% for href, id, caption in navbar %}
      <li{% if id == active_page %} class="active"{% endif
      %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
    {% endfor %}
    </ul>
</nav>
{% endblock %}
{% block body %}
{{ htmlbody }}
<footer>{{ footer }}</footer>
{% endblock %}
</body>
</html>
